.idea

Будет удалено .idea/.gitignore
Будет удалено .idea/dataSources.xml
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/test.iml
Будет удалено .idea/vcs.xml
Будет удалено .idea/workspace.xml
